<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %} Trackables {% endblock %}
{% block content %} 

    <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">Your Trackables</h2>
    <ul class="u-align-center u-text u-text-2">
    <p>You can add, edit, and delete trackables here. 
    Remember, if you delete a trackable, any previous logs of it will be deleted! </p>

    {% for t in tlist %}
    </ul>


    <h4> <a href=""> Add a new Trackable </a> </h4>
    <table>
        <tbody>
            {% for t in tlist %}
                <tr>
                    <td> <b>{{t.id}}</b> </td>
                    <td> {{t.name}} </td>
                    <td>
                        <form action="">
                        <select name="task" id="task">
                            <option value="edit"> edit </option>
                            <option value="delete"> delete </option>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}
</html>